<div>
  
  <div>
    <h4>{{ userShared.username }}</h4>
  </div>
  
  <div class="row">
    <div class="col-md-4">
        <ul>
          <li *ngFor="let c of chats" ></li>
        </ul>
      </div>
      <div class="col-md-8">
        <div *ngIf="selectedChat != null; else NotSelected">
          <app-chat [chat]="selectedChat"></app-chat>
        </div>
        <ng-template #NotSelected>
          <div>Aucune Chambre n'été selectionnée!!</div>
        </ng-template>
      </div>
  </div>
  
</div>
