.app-body{
    background-color: deepskyblue;
}

h1{
    font-size: 10ivh;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
img{
    text-align: center;
}